* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  background-color: hsla(0, 0%, 50%, 0.2);

}

/** Header **/
header {
    color: white;
    background-color: black;
    text-align: center;
    background-position: left top;
    padding: 16px;
}
header > .title {
  font-weight: 300;
  margin-bottom: 16px;
}
header > .logo {
  width: 70px;
  height: 70px;
}

/** Location Picker **/
.location-picker {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.location-picker > div {
  overflow: scroll;
  white-space: nowrap;
}
.location-picker > .city {
  background-color: #333;
}
.location-picker > .branch {
  background-color: rgb(102, 101, 101);
}
.location-picker span {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  color: #f2f2f2;
  text-align: center;
  user-select: none;
}
.location-picker span:hover,
.location-picker span.active {
  background-color: #ddd;
  color: black;
}

/** KPI Panel **/
.kpi-panel {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
.kpi-panel .card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 8px 16px;
  text-align: center;
  background-color: #5f6aff;
  margin:0 16px;
  color: white;

}
.kpi-panel .card > .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.kpi-panel .card > p {
  margin: 0
}

/** Grid**/
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
}
@media (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'kpi-panel orders-panel' 'sales-panel orders-panel';
  }
}

/** Sales Panel **/

/** Order Panel **/

/** Shared **/

.panel-header {
  text-align: center;
  background-color: #333;
  color: white;
  margin-bottom: 15px;
  padding: 16px;
}

div.chart {
  padding: 16px;
}

